header {
    display: flex;
    justify-content: space-between;
    height: 105px;
    background-color: #952323;
    align-items: center;
    padding: 10px;

}

a {
    text-decoration: none;
    color: #F2E8C6 ;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

body {
    margin: 0%;
    background-color: #F2E8C6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #A73121;

}

h1 {
    color: #A73121;
}

.RT {
    text-align: center;
}

.NM {
    padding: 10px;
}

.card-menu {
    text-align: center;
}

img {
    width: 300px;
}
.alinear{
display: flex;
justify-content: space-between;

}

.alinearr {
display: flex;
justify-content: space-between;
}

.contacto {
    padding: 25px;
}